.header-container{
    display: inline-block;
    position: absolute;
    color: #fff;
    margin-left: 40px;
    margin-top: 40px;
}
.header-container h1 span{
   font-weight: 900;
}
.header-container h1 {
    font-weight: 300;
 }


 .header-container img {
    width:180px;
    margin-left: -12px;
 }



 @media only screen and (max-width: 1030px) {
 
   .header-container{
       position: relative;
       display: inline-flex;
       width: 100%;
       flex-wrap:wrap;
       justify-content:space-between;
       margin: 0;
       padding-bottom: 40px;
   }

   .header-container img {
      padding: 60px 0 0 25px;
   }
   
   .header-container h1{
       display: inline;
       margin: 0;
       padding: 25px 25px 50px 0;
       line-height: 0.99;
   }
 
 }