.progress-bar{
    position: relative;
    border-radius: 50px;
    border: 1px solid #333;
    background-image: linear-gradient(0deg, #6b43c6 25%, #242151 25%, #242151 50%, #6b43c6 50%, #6b43c6 75%, #242151 75%, #242151 100%);
    background-size: 80.00px 80.00px;
    width: 7px;
    height: 165px;
    margin: 15px;

}

.filler{
    background: #00BDFF;
    height: 100%;
    border-radius: inherit;
    transition: height .3s ease-in;
}

.marker{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    
    background: #6b43c6;
    position: absolute;
    left: -2px;

}

.marker .marker-one{
    top: 0;
}

 .marker-two{
    top: 55px;
}

.marker-three{
    top: 110px;
}

.marker-four{
    top: 150px;
}

.filled{
    width: 16px;
    height: 16px;
    left: -5px;
    border: 1px solid #f5f7fa;
    background: #00BDFF;
}

