.goals-container{
    display: inline-block;
    position: absolute;
    top: 32%;
    margin-left: 40px;
}

.goal-tab{
    box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.67);
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    background-color: #332F67;
    border-radius: 16px;
    /* margin-bottom: 15px; */
    margin:0 auto 15px auto
}
.current-tab{
    color:#00BDFF;
}

.target-tab{
    color:#6B43C6;
}
.current-target-text{
    margin-left: 45px;
}

.goal-bullet{
    font-size: 60px;
    position: absolute;
    left: 22px;
    line-height: 40px;
}

.goals-box{
    margin-top: 60px;
    box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.67);
    border-radius: 16px;
    width: 180px;
    height: 250px;
    background-color: #242151;
}

.goals-box h1{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}


@media only screen and (max-width: 1030px) {
    .goals-container {
     position: relative;
     display: inherit;
     text-align: center;
     padding:35px 0 35px 0;
     margin: 0;
    }
    .goals-box{
        margin: 0 auto;
        text-align: left;
        width: 60%;
    }
    .current-target{
        display:inline-flex;
        text-align:left;
        max-width: 90%;
    }
    .current-tab{
        margin-right: 10px;
    }
    .header-container{
        position: relative;
    }
    .header-container h1{
        display: inline;
    }
  }